@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oxygen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg: rgb(10, 0, 28);
    --bgSec: rgb(17, 1, 53);
    --btn: rgb(200, 168, 255);
    --btnBg: rgb(181, 163, 255);
    --neon: rgb(68, 165, 255);
    --parret: rgb(123, 255, 0);
    --lowPx: 4px;
    --medPx: 8px;
    --highPx: 16px;
    --exHigh: 32px;
}

hr {
    border: 0;
    height: 1px;
    background-color: var(--neon);
    margin: 36px 4vw;
}

.txt-highlight {
    color: var(--parret);
}

body {
    font-family: 'Oxygen', sans-serif;
    background-color: var(--bg);
    color: aliceblue;
    height: 100vh;
}

header {
    background-color: var(--bgSec);
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}

.horizontalNav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 4vw;
}

.horizontalNav nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.horizontalNav nav ul li a {
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    margin: 12px;
}

.clickable:hover {
    cursor: pointer;
}

section {
    height: 82vmin;
    padding: 0 4vw;
}

#about {
    margin: var(--highPx) 4vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.name {
    font-size: 2em;
}

.btns {
    margin-top: var(--exHigh);
}

.btns .btn:hover {
    background-color: var(--parret);
    box-shadow: 0 3px 8px var(--neon);
}

#about img {
    max-width: 30vw;
    min-width: 18vw;
    border-radius: 50%;
    box-shadow: 1px 8px 32px rgba(47, 255, 0, 0.372);
}

#skills {
    padding: 0 4vw;
}

.tech-stack {
    text-align: center;
    margin: var(--medPx) var(--highPx);
}

.tech-stack img {
    width: 4vmax;
    height: 4vmax;
    object-fit: contain;
    padding: 2vmax;
}
/* desktop */
@media only screen and (min-width: 600px) {
    header nav ul li a {
        font-size: 17px;
    }

    .btns .btn {
        padding: var(--medPx) var(--highPx);
        font-weight: 550;
        background-color: aliceblue;
        border-radius: var(--medPx);
        text-decoration: none;
        border: 1px solid #333333;
        color: var(--bg);
        font-size: 18px;
    }

    .projects {
        display: flex;
        justify-content: space-evenly;
        margin-top: 36px;
    }

    .projectCard {
        width: 28vw;
        height: 44vh;
    }

    .role strong {
        font-size: 21px;
    }

    .role p {
        font-size: 19px;
    }

    #menuIcon {
        display: none;
    }
    .social-media img{
        width: 48px;
    }
    .social-media span a{
        font-size: 20px;
    }
}

.activeNav {
    transform: translate(170px);
}
.hiddedNav {
    transform: translate(-340px);
}
/* .passive{
    margin-left: 170px;
} */
/* mobile */
@media only screen and (max-width: 600px) {

    #main{
        position: relative;
        top: 10vh;
    }
    header{
        position: fixed;
        z-index: 2;
    }

    .btns .btn {
        padding: var(--medPx) var(--highPx);
        font-weight: 550;
        background-color: aliceblue;
        border-radius: var(--medPx);
        text-decoration: none;
        border: 1px solid #333333;
        color: var(--bg);
        font-size: 10px;
    }
    .horizontalNav nav { 
        background-color: var(--bgSec);
        height: 100vh;
        position: fixed;
        top: 10vh;
        transition: transform 0.3s;
        left: -170px;
    }
    .horizontalNav nav ul li{ 
        padding-left: var(--highPx);
    }
    .horizontalNav nav ul{
        width: 156px;
        padding: var(--lowPx);
        flex-direction: column;
    }

    #menuIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2%;
    }

    #menuIcon:hover{
        cursor: pointer;
    }

    .name {
        font-size: 1.1em;
    }

    section {
        height: auto;
    }

    #about{
        padding: 8vh 0px;
    }

    #about .btns .btn{
        font-size: 15px;
    }

    #experience {
        min-height: 0;
    }

    #contact {
        min-height: 0;
    }

    .projects {
        display: flex;
        margin-top: 36px;
        flex-direction: column;
    }

    .projectCard {
        width: 85vw;
        margin: 4vw;
    }

    .role strong {
        font-size: 18px;
    }

    .role p {
        font-size: 16px;
    }

    .social-media{
        width: 64px;
        height: 64px;
    }
    
    .social-media img{
        width: 32px;
    }
    .social-media span a{
        /* font-size: 16px; */
        display: none;
    }
    .contactMe h2 {
        font-size: 18px;
        margin-top: var(--highPx);
    }
}

.projectCard {
    background-color: white;
    display: inline-block;
    border-radius: 8px;
    margin: var(--medPx) var(--highPx);
    transition: transform 0.5s;
}

.projectCard > div {
    margin: 2% 2.5% 2% 2.5%;
    border: 0 solid wheat;
    border-radius: 8px;
    width: 95%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectCard > img {
    height: 60%;
    background-color: aliceblue;
    border-radius: 8px;
    width: 99%;
    margin-top: 0.5%;
    margin-left: 0.5%;
}

.projectCard div img {
    width: 18%;
    border-radius: 5px;
}

.projectCard .title {
    width: 75%;
    color: var(--bgSec);
    font-size: 24px;
    font-weight: 550;
    margin-left: var(--medPx);
}

.center-container {
    width: 100%;
    display: none;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.btnGithub {
    display: none;
    width: 90%;
    border-radius: 6px;
    border: none;
    padding: 8px var(--exHigh);
    background-color: var(--btn);
    color: rgb(54, 0, 116);
    font-weight: 500;
    font-size: 14px;
}

.projectView {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    border-radius: 8px;
    border: 0;
    transition: transform 0.5s;
    text-align: center;
}

.projectView > span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 10%;
    flex-direction: column;
    height: 100%;
}

.projectView > span span {
    font-size: 18px;
}

.projectView > span a img {
    width: 24px;
    padding: var(--highPx);
    margin: var(--medPx);
}

.projectCard:hover {
    transform: scale(1.02);
}

.projectCard:hover .projectView {
    display: block;
}

#experience {
    max-height: 80vh;
    position: relative;
    display: block;
}

.workplace {
    margin-top: var(--exHigh);
}

.role {
    margin-top: var(--exHigh);
}

.role .head {
    display: flex;
    justify-content: space-between;
}

.role p {
    color: rgba(255, 255, 255, 0.906);
    margin-left: 100px;
    margin-top: var(--medPx);
}

#contact {
    max-height: 200px;
    position: relative;
}

.contactMe {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#contact h2 {
    display: inline-block;
    margin-top: var(--exHigh);
}

#contact h3 {
    display: inline-block;
    position: absolute;
    right: 8vw;
}

#social-media-container {
    display: inline;
}

.social-media {
    display: inline-block;
}

.social-media img {
    padding: var(--exHigh);
    display: inline-block;
    vertical-align: middle;
}

.social-media span a {
    text-decoration: none;
    color: rgb(248, 248, 248);
}
